  .progress-bar {
    background-color: white;
    border: 1px solid #333;
    border-radius: 50px;
    width: 400px;
    height: 30px;
  }
  
  .filler {
    border-radius: inherit;
    height: 100%;
    background: rgb(0, 255, 0);
    transition: width 0.2s ease-in;
  }