.bg-image{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('./img/login_background.png');
  box-shadow: 12px 0 12px -4px white inset,
             -12px 0 12px -4px white inset;
}

.logo{
    max-width: 100px;
}